page-footer {
  background-color: #2C2723;
  width: 100%;
  bottom: 0;
  position: bottom;
}

#footer {
  color: white;
  text-align: center;
}

/*.carousel {

	size: 100%
	position: center;
	width:  100%;
}*/